
.icon-bus:before { content: '\e800'; } /* '' */
.icon-wheelchair:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-blind:before { content: '\e803'; } /* '' */
.icon-person:before { content: '\e804'; } /* '' */
.icon-resize-full:before { content: '\e805'; } /* '' */
.icon-print:before { content: '\e806'; } /* '' */
.icon-shoes:before { content: '\e807'; } /* '' */
.icon-people:before { content: '\e808'; } /* '' */
.icon-walk:before { content: '\e809'; } /* '' */
.icon-resize-horizontal:before { content: '\e80a'; } /* '' */
.icon-forbidden:before { content: '\e80b'; } /* '' */
.icon-touch:before { content: '\e80c'; } /* '' */
.icon-cab:before { content: '\e80d'; } /* '' */
.icon-right-dir:before { content: '\e80e'; } /* '' */
.icon-tag:before { content: '\e80f'; } /* '' */
.icon-securite:before { content: '\e810'; } /* '' */
.icon-equipement:before { content: '\e811'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-doc-text:before { content: '\e813'; } /* '' */
.icon-location:before { content: '\e814'; } /* '' */
.icon-emo-unhappy:before { content: '\e815'; } /* '' */